body {
    font-family: "Open Sans", sans-serif;
  }
  
  .container {
    display: flex;
    padding: 30px;
    
  }
  
  .leftMenu {
    flex: 1;
  }
  
  .search{
    padding: 10px;
    width: 200px;
    border: 1px solid gray;
  }
  
  h1{
    font-size: 30px;
    color: #555;
    font-weight: 300;
  }
  
  
  .cats{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  
  .cat{
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
  }
  
  .content {
    flex: 4;
  }
  
  .products{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 60px;
  }
  
  .product{
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  
  img{
    width: 150px;
    height: 250px;
    object-fit: contain;
  }
  
  .name{
    font-weight: 300;
  }



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
 
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .container {
    padding: 0px;
}

.product {
  width: 230px;
}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}